#img-rules {
    width: 80%;
    max-width: 120px;
    height: 80%;
    max-height: 120px;
    float: right;
}
#results {
    visibility: hidden;
}
#stats {
    visibility: hidden;
}
#canvas-holder {
    margin-top: -30px;
}
button {
    cursor: pointer;
}